#!/usr/bin/zsh

export PATH=$PATH:$HOME/.local/bin
export PATH="$PATH:/home/linuxbrew/.linuxbrew/bin/"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

eval "$(oh-my-posh init zsh --config https://gist.githubusercontent.com/gustoss/f78f5869dac069707abf86240d1905aa/raw/5a2fddaa7aeba4a2a24e9f0ab736163ce5e346ae/gusto.omp.json)" 

# Antigen
source $HOME/.zsh_config/antigen.zsh
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-syntax-highlighting

antigen apply

# Configure autosuggestions
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=#4e4e4e"
ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# Lines configured by zsh-newuser-install
HISTFILE=~/.zsh_histfile
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory

bindkey -e
bindkey "^[[1;5C" forward-word # Ctrl + Right
bindkey "^[[1;5D" backward-word # Ctrl + Left
# End of lines configured by zsh-newuser-install

# Autocompletion
autoload -Uz compinit
compinit
# End of autocompletion

# Cargo/Rust Initialization
. "$HOME/.cargo/env"
eval "$(atuin init zsh)"
eval "$(zoxide init zsh)"

export PATH=$PATH:$HOME/.local/share/cargo/bin/ezasource
export EDITOR="code --wait" 

# Functions
# Function to automatically commit and push
gitCommitAndPush() {
    if [ -z "$1" ]; then
        echo "Error: A commit message must be provided"
        echo "Usage: gcm 'your commit message'"
        return 1
    fi
    
    git commit -m "$1" && git push
}

# General Alias
alias ..="z .."
alias ..2="z ../.."
alias cat="bat -A --style=auto"
alias ll="eza -la --icons='auto' --color='auto' -a -h --time-style='+%d/%b/%y %H:%M:%S'"
alias nv="nvim"
alias grep="grep --color=auto"
alias op="op.exe"
alias ssh="ssh.exe"
alias ssh-add="ssh-add.exe"
alias chm="chezmoi"

# Git Alias
alias gti="git"
alias gst="git status"
alias gad="git add"
alias gdf="git diff"
alias grc="git rebase --continue"
alias gcm="git commit -m"
alias gcp="gitCommitAndPush"
alias lg="lazygit"

{{- if eq .chezmoi.username "asimoes" }}
# ------------------------------------------------------------
#       INIT Meli Profile
# ------------------------------------------------------------

. "$HOME/.atuin/bin/env"
eval "$(atuin init zsh)"


alias op="/mnt/c/Users/asimoes/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe"

alias meli="$HOME/.scripts/meli_cmd.sh"

source ~/.dotfiles/lib/zsh-autoenv/autoenv.zsh
export RANGER_FURY_LOCATION=/home/asimoes/.fury #Added by Fury CLI
export RANGER_FURY_VENV_LOCATION=/home/asimoes/.fury/fury_venv #Added by Fury CLI

# Added by Fury CLI installation process
declare FURY_BIN_LOCATION="/home/asimoes/.fury/fury_venv/bin" # Added by Fury CLI installation process
export PATH="$PATH:$FURY_BIN_LOCATION" # Added by Fury CLI installation process
# Added by Fury CLI installation process

{{- end }}

{{- if eq .chezmoi.username "gusto" }}
# ------------------------------------------------------------
#       INIT Personal Profile
# ------------------------------------------------------------
export PATH="/home/gusto/lua-language-server/bin:/usr/local/cuda-11.8/bin:$HOME/.local/bin:$PATH"
export LD_LIBRARY_PATH="/usr/local/cuda-11.8/lib64:$LD_LIBRARY_PATH"

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/home/gusto/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/home/gusto/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/home/gusto/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/home/gusto/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

export SUMO_HOME="/usr/share/sumo"
source ~/.dotfiles/lib/zsh-autoenv/autoenv.zsh

# fnm
FNM_PATH="/home/gusto/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="/home/gusto/.local/share/fnm:$PATH"
  eval "`fnm env`"
fi
{{- end }}
