#!/usr/bin/zsh

export PATH=$PATH:$HOME/.local/bin
export PATH="$PATH:/home/linuxbrew/.linuxbrew/bin/"
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

eval "$(oh-my-posh init zsh --config https://gist.githubusercontent.com/gustoss/f78f5869dac069707abf86240d1905aa/raw/5a2fddaa7aeba4a2a24e9f0ab736163ce5e346ae/gusto.omp.json)" 

# Lines configured by zsh-newuser-install
HISTFILE=~/.zsh_histfile
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory

bindkey -e
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
# End of lines configured by zsh-newuser-install
autoload -Uz compinit
compinit

. "$HOME/.cargo/env"
eval "$(atuin init zsh)"

export PATH=$PATH:$HOME/.local/share/cargo/bin/ezasource
export EDITOR='code --wait'

# Geral Alias
alias ..="cd .."
alias ..2="cd ../.."
alias cat="bat -A --style=auto"
alias ll="eza -la --icons='auto' --color='auto' -a -h --time-style='+%d/%b/%y %H:%M:%S'"
alias nv="nvim"
alias grep="grep --color=auto"
alias op="op.exe"
alias ssh="ssh.exe"
alias ssh-add="ssh-add.exe"
alias gti="git"
alias gst="git status"
alias gad="git add"
alias gdf="git diff"
alias gcm="git commit -m"
alias chm="chezmoi"

# INIT Personal Profile
{{- if eq .chezmoi.username "asimoes" }}

# Alias to meli_repo/projects
export HOME_MELI_PROJECT="$HOME/meli_repo"
alias cd_mp35="cd $HOME_MELI_PROJECT/fury_point-pos-mp35"
alias cd_mp35s="cd $HOME_MELI_PROJECT/fury_point-pos-mp35s"
alias cd_q92="cd $HOME_MELI_PROJECT/fury_point-pos-q92"
alias cd_sim="cd $HOME_MELI_PROJECT/fury_point-pos-simulator"
alias cd_unif="cd $HOME_MELI_PROJECT/fury_point-unified-payment-configs"
alias cd_builder="cd $HOME_MELI_PROJECT/fury_point-pos-builder"
alias cd_simb="cd $HOME_MELI_PROJECT/fury_point-pos-simulator-builder"
alias cd_doc="cd $HOME_MELI_PROJECT/fury_point-pos-documentation"
alias cd_unif="cd $HOME_MELI_PROJECT/fury_point-unified-payment-config"

alias meli="$HOME/.scripts/meli_cmd.sh"

source ~/.dotfiles/lib/zsh-autoenv/autoenv.zsh
export RANGER_FURY_LOCATION=/home/asimoes/.fury #Added by Fury CLI
export RANGER_FURY_VENV_LOCATION=/home/asimoes/.fury/fury_venv #Added by Fury CLI

# Added by Fury CLI installation process
declare FURY_BIN_LOCATION="/home/asimoes/.fury/fury_venv/bin" # Added by Fury CLI installation process
export PATH="$PATH:$FURY_BIN_LOCATION" # Added by Fury CLI installation process
# Added by Fury CLI installation process

{{- end }}
# END Personal Profile

# INIT Meli Profile
{{- if eq .chezmoi.username "gusto" }}
export PATH="/home/gusto/lua-language-server/bin:/usr/local/cuda-11.8/bin:$HOME/.local/bin:$PATH"
export LD_LIBRARY_PATH="/usr/local/cuda-11.8/lib64:$LD_LIBRARY_PATH"

# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/home/gusto/miniconda3/bin/conda' 'shell.zsh' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/home/gusto/miniconda3/etc/profile.d/conda.sh" ]; then
        . "/home/gusto/miniconda3/etc/profile.d/conda.sh"
    else
        export PATH="/home/gusto/miniconda3/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

export SUMO_HOME="/usr/share/sumo"
source ~/.dotfiles/lib/zsh-autoenv/autoenv.zsh

# fnm
FNM_PATH="/home/gusto/.local/share/fnm"
if [ -d "$FNM_PATH" ]; then
  export PATH="/home/gusto/.local/share/fnm:$PATH"
  eval "`fnm env`"
fi
{{- end }}
# END Meli Profile
